* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100vw;
    height: 5rem;
    padding: 0 2rem 0 2rem;
    color: rgb(53, 83, 63);
}

.links {
    width: max-content;
    height: auto;
    text-decoration: underline;
    font-weight: 500;

    & span {
        margin: 0 .5rem 0 .5rem;
    }
}

.title-nav {
    width: max-content;
}

.config {
    width: 5rem;
    height: 3rem;
}